@using DanderiNetwork.Core.Application.ViewModels.Post
@model SavePostViewModel

<div class="modal fade" id="editPost" tabindex="-1" aria-labelledby="modal-tittle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content loginCard">
			<div class="modal-header border-0">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h1 class="modal-title w-100 text-center fs-5 highlighted fw-bold mb-3" id="modal-tittle">Edit post</h1>

				<form method="post" asp-action="Home" >
					<div class="mb-4 d-flex justify-content-center">
						<div class="col-8">

							<div class="col-12 mb-3">
								<label for="username" class="form-label fw-bold">Username</label>
								<input type="text" class="form-control inputCustomize" id="username" name="username">
								<span class="text-danger"></span>
							</div>
							

							<div class="col-12 mb-3">
								<label asp-for="Photo" class="form-label fw-bold">Photo</label>
								<input asp-for="Photo"  class="form-control anotherDesign" id="Photo" name="Photo">
								<span asp-validation-for="Photo" class="text-danger"></span>
							</div>
							<input type="hidden" asp-for="ID" class="form-control" />
						
							<div class="col-12">
								<label asp-for ="VideoUrl" for="username" class="form-label fw-bold">Video URL</label>
								<div class="input-group has-validation">
									<span class="input-group-text leftInputDesign">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
											<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"></path>
											<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"></path>
										</svg>
									</span>
									<input asp-for="VideoUrl" type="text" class="form-control anotherDesign" >
									<span class="text-danger"></span>
								</div>
							</div>

						</div>
					</div>

					<div class="d-flex justify-content-center">
						<div class="col-8">
							<button type="submit" class="btn btn-light w-100 loginBTN">Save</button>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer border-0">
			</div>
		</div>
	</div>
</div>