@{
	ViewData["Tittle"] = "Profile";
}

<div class="container d-flex justify-content-center align-items-center">
	<div class="col-8">
		<div class="col-12 d-flex justify-content-end">
			<div class="col-3">
				<a href="#" class="btn newFriend rounded-5 w-100">Edit profile</a>
			</div>
		</div>

		<div class="col-12 d-flex justify-content-center align-items-center homeCard py-5 p-4 mt-4">
			<div>
				<div>
					<img src="https://cowlatinamerica.voices.wooster.edu/wp-content/uploads/sites/263/2022/03/ab6761610000e5ebaa60935c3c4dc4a0fd48759e.jpg" width="350" height="350" class="rounded-circle object-fit-cover" alt="Alternate Text" />
				</div>
				<div class="mt-4">
					<h3 class="highlighted fw-bold text-center">Lara Figuereo C.</h3>
					<p class="text-center fs-5 text-muted">@@laraF29</p>
				</div>
				<div class="d-flex gap-3 justify-content-center">
					<div>
						<p class="fw-medium">Tel.:</p>
						<p class="fw-medium">Email: </p>
					</div>
					<div>
						<p>829-802-1292</p>
						<p>darianacabreja@gmail.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

